@model LeaveTypeCreateVM

@{
    ViewData["Title"] = "Create Leave Type";
}

<h1>Create Leave Type</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @* by default method="post" -> creating Data *@
        <form asp-action="Create"> @* goto "Create" action in Index.cshtml on submission *@
            @* “Shows general validation errors for the whole form, not individual fields.”) *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* “asp-for binds HTML elements to a model property and automatically 
                handles naming, values, and validation.” *@
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                @* Displays validation error message for the Name field *@
                @* <span> is used because validation messages are small inline pieces of text 
                    that shouldn’t disrupt the layout. *@
                <span asp-validation-for="Name" class="text-danger"></span>
                @* <span> always visible if it has content validation message	
                    only appears when error exists *@
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                @* value = the text displayed on the button *@
                <input type="submit" value="Create" class="btn btn-success"/>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@* @section Scripts loads client-side validation scripts into the layout 
   so forms can validate instantly in the browser.” *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
